<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KTibiaX.IPChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KTibiaX.IPChanger.Properties.Settings>
            <setting name="GraphicsEngine" serializeAs="String">
                <value />
            </setting>
            <setting name="TibiaPath" serializeAs="String">
                <value>C:\program files\tibia\tibia.exe</value>
            </setting>
            <setting name="ChangeFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginServer" serializeAs="String">
                <value>login01.tibia.com</value>
            </setting>
            <setting name="LoginPort" serializeAs="String">
                <value>7171</value>
            </setting>
            <setting name="StringVersion" serializeAs="String">
                <value>1247104594</value>
            </setting>
            <setting name="MCVersion" serializeAs="String">
                <value>t&#xB;ÿ×ø&#x5;t&#x4;3Àë&#x5;¸&#x1;</value>
            </setting>
            <setting name="FPSValue" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="EnableMC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteRSA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RSAKey" serializeAs="String">
                <value>109120132967399429278860960508995541528237502902798129123468757937266291492576446330739696001110603907230888610072655818825358503429057592827629436413108566029093628212635953836686562675849720620786279431090218017681061521755056710823876476444260558147179707119674283982419152118103759076030616683978566631413</value>
            </setting>
            <setting name="ChangeGraphics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DistinctMaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppSkin" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="OTMapPath" serializeAs="String">
                <value />
            </setting>
        </KTibiaX.IPChanger.Properties.Settings>
    </userSettings>
</configuration>